<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<div class="panel panel-info">
	<div class="panel-heading">
		<b>BLog Title:</b>{{blogPost.blogTitle}}<br> 
		<b>Posted By:</b>{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}<br> <b>POsted
			On:</b>{{blogPost.postedOn | date:'dd:MM:yyyy'}}<br>
	</div>
	<div class="panel-body">
		<p ng-bind-html="content"></p>
	</div>
	<div><button class="btn btn-info" ng-click="approvedBlogPost(blogPost)">Approve</button>
	<button class="btn btn-danger" ng-click="showTextArea()">Reject</button></div>
	<div ng-show="isRejected"><textarea ng-model="rejectionReason" rows="3"></textarea>
	<button ng-click="rejectBlogPost(blogPost)">Submit</button></div>
	
</div>


</body>
</html>