<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<div class="panel panel-info">
<div class="panel-heading">
<h4>Pending Requests</h4>
</div>
<div class="panel-body">
<!-- pendingRequests is Array of Friend Object in JSON format

e.g [ {
    "friendId": 1236,
    "fromId": {
      "email": "james.s@niit.com",
      "password": "1234",
      "firstname": "James",
      "lastname": "S",
      "phonenumber": "95869856",
      "role": "EMPLOYEE",
      "online": false
    },
    "toId": {
      "email": "john.s@niit.com",
      "password": "123",
      "firstname": "John",
      "lastname": "Smith",
      "phonenumber": "092398988",
      "role": "STUDENT",
      "online": false
    },
    "status": "P"
  }]
  
  request is Friend Object in JSON format
 -->
<ul style="list-style:none">
<li ng-repeat="request in pendingRequests" >
{{request.fromId.email}}<br>
{{request.fromId.firstname}}&nbsp;{{request.fromId.lastname}}<br>
{{request.fromId.phonenumber}}<br>
<img src="http://localhost:8024/projectmiddleware/getimage?email={{request.fromId.email}}" alt="No Image" height="50px" width="50px">
<br>
<button class="btn btn-info" ng-click="acceptFriendRequest(request)">Accept</button> &nbsp; 
<button class="btn btn-danger" ng-click="deleteFriendRequest(request)">Delete</button>
<hr>
</li>
</ul>
</div>
</div>
</div>

</body>
</html>