<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<div class="panel panel-info">
<div class="panel-heading">
<b>Suggested Users</b>
</div>
<div class="panel-body">
<ul style="list-style:none">
<li ng-repeat="toUser in suggestedUsers">
<pre>
{{toUser.email}}
{{toUser.firstname}} &nbsp; {{toUser.lastname}} <button class="btn  btn-info" ng-click="sendFriendRequest(toUser)">Send Friend Request</button>
{{toUser.role}}
<img src="http://localhost:8024/projectmiddleware/getimage?email={{toUser.email}}" alt="No Image" height="60px" width="50px">
</pre>
</li>
</ul>
</div>
</div>
</div>

</body>
</html>