@charset "ISO-8859-1";
@charset "ISO-8859-1";
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  font-weight: bold;
  color: #000000;
}